<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite">
<listeners>
	<listener class-name="extendReport.ExtentTestNGIReporterListener" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.TestNG.InvocationCountTest"/>
      <class name="com.TestNG.GoogleTest"/>
      <class name="com.TestNG.ExceptionTimeOutTest"/>
      <class name="com.TestNG.AnnotationsDemo"/>
      <class name="com.TestNG.TestNGFeatures"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
